body{
	background: #000;
	margin: 0;
	padding: 0;
}
body *{
	user-select: none;
	margin: 0;
	padding: 0;
}
.diamond{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 450px;
	height: 300px;
	transition: filter 1.5s;
}
.diamond:before{
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 450px;
	height: 300px;
	clip-path: polygon(50% 100%, 0 25%, 17% 0, 83% 0, 100% 25%);
	background: linear-gradient(110deg,#000101,#000303,#000102,#000101);
	background-size: 200%;
	animation: bg ease 3s infinite;
}
.diamond.o:not(.c){
	filter: drop-shadow(0px 0px 100px #06b6e2);
	animation: pls 1.5s ease-in-out 4s infinite alternate forwards;
	transition: filter 5s;
}
@keyframes pls{
	0%{
		filter: drop-shadow(0px 0px 100px #06b6e2);
	}
	100%{
		filter: drop-shadow(0px 0px 75px #06b6e2);
	}
}
.diamond>.bg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 450px;
	height: 300px;
	clip-path: polygon(50% 100%, 0 25%, 17% 0, 83% 0, 100% 25%);
}
@keyframes bg{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
.diamond>.wr{
	position: absolute;
	top: 50%;
	left: 50%;
}
.diamond>.wr>.w{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 75px;
	transform: scale(0);
	opacity: 0;
}
.diamond>.wr>.w>.t{
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1.5s;
}
.diamond>.wr>.w>.t:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 75px solid transparent;
	animation: col 2s linear 0s infinite alternate;
}
.diamond.c>.wr>.w>.t{
	opacity: 0;
}
@keyframes col{
	0%{
		border-bottom-color: #0696d9;
	}
	20%{
		border-bottom-color: #06b6e2;
	}
	40%{
		border-bottom-color: #6dedfc;
	}
	60%{
		border-bottom-color: #b3eef5;
	}
	80%{
		border-bottom-color: #56bed8;
	}
	100%{
		border-bottom-color: #13a5ca;
	}
}
.diamond.o>.wr>.w:nth-child(1){
	animation: rI 0.75s ease-out 0s forwards;
}
@keyframes rI{
	from{
		transform: scale(0);
		left: -75px;
	}
	to{
		opacity: 1;
		transform: scale(1);
		left: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(2){
	animation: rII 0.75s ease-out 0.5s forwards;
}
@keyframes rII{
	from{
		transform: rotateZ(0deg);
		left: -75px;
	}
	to{
		opacity: 1;
		transform: rotateZ(-180deg);
		left: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(3){
	animation: rIII 0.75s ease-out 0.5s forwards;
}
@keyframes rIII{
	from{
		transform: rotateZ(0deg);
		left: -75px;
	}
	to{
		opacity: 1;
		transform: rotateZ(180deg);
		left: 0px;
	}
}
.diamond.o>.wr>.w:nth-child(4){
	animation: rIV 0.75s ease-out 1s forwards;
	transform-origin: center bottom;
}
@keyframes rIV{
	from{
		transform: rotateX(0deg);
		top: 0px;
		left: -75px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg);
		top: 0px;
		left: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(5){
	animation: rV 0.75s ease-out 1s forwards;
	transform-origin: center bottom;
}
@keyframes rV{
	from{
		transform: rotateX(0deg) rotateZ(180deg);
		left: -150px;
		top: -75px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg) rotateZ(180deg);
		left: -150px;
		top: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(6){
	animation: rVI 0.75s ease-out 1s forwards;
	transform-origin: center bottom;
}
@keyframes rVI{
	from{
		transform: rotateX(0deg) rotateZ(180deg);
		left: 0px;
		top: -75px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg) rotateZ(180deg);
		left: 0px;
		top: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(7){
	animation: rVII 0.75s ease-out 1.5s forwards;
}
@keyframes rVII{
	from{
		transform: rotateZ(0deg);
		left: -150px;
		top: -75px;
	}
	to{
		opacity: 1;
		transform: rotateZ(-180deg);
		left: -225px;
		top: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(8){
	animation: rVIII 0.75s ease-out 1.5s forwards;
}
@keyframes rVIII{
	from{
		transform: rotateZ(0deg);
		left: 0px;
		top: -75px;
	}
	to{
		opacity: 1;
		transform: rotateZ(180deg);
		left: 75px;
		top: -75px;
	}
}
.diamond.o>.wr>.w:nth-child(9){
	animation: rIX 0.75s ease-out 2s forwards;
	transform-origin: center bottom;
}
@keyframes rIX{
	from{
		transform: rotateX(0deg) rotateZ(180deg);
		left: -225px;
		top: -150px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg) rotateZ(180deg);
		left: -225px;
		top: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(10){
	animation: rX 0.75s ease-out 2s forwards;
	transform-origin: center bottom;
}
@keyframes rX{
	from{
		transform: rotateX(0deg) rotateZ(180deg);
		left: 75px;
		top: -150px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg) rotateZ(180deg);
		left: 75px;
		top: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(11){
	animation: rXI 0.75s ease-out 2s forwards;
	transform-origin: center top;
}
@keyframes rXI{
	from{
		transform: rotateX(0deg);
		left: -75px;
		top: 0px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg);
		left: -75px;
		top: 0px;
	}
}
.diamond.o>.wr>.w:nth-child(12){
	animation: rXII 0.75s ease-out 2.5s forwards;
	transform-origin: center bottom;
}
@keyframes rXII{
	from{
		transform: rotateX(0deg) rotateZ(180deg);
		left: -75px;
		top: -150px;
	}
	to{
		opacity: 1;
		transform: rotateX(180deg) rotateZ(180deg);
		left: -75px;
		top: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(13){
	animation: rXIII 0.75s ease-out 2.5s forwards;
}
@keyframes rXIII{
	from{
		transform: rotateZ(0deg);
		left: -225px;
		top: -150px;
	}
	to{
		opacity: 1;
		transform: rotateZ(180deg);
		left: -150px;
		top: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(14){
	animation: rXIV 0.75s ease-out 2.5s forwards;
}
@keyframes rXIV{
	from{
		transform: rotateZ(0deg);
		left: 75px;
		top: -150px;
	}
	to{
		opacity: 1;
		transform: rotateZ(-180deg);
		left: 0px;
		top: -150px;
	}
}
.diamond.o>.wr>.w:nth-child(1)>.t:after{animation-delay: 0s;}
.diamond.o>.wr>.w:nth-child(2)>.t:after{animation-delay: 0.5s;}
.diamond.o>.wr>.w:nth-child(3)>.t:after{animation-delay: 0.75s;}
.diamond.o>.wr>.w:nth-child(4)>.t:after{animation-delay: 1s;}
.diamond.o>.wr>.w:nth-child(5)>.t:after{animation-delay: 1.2s;}
.diamond.o>.wr>.w:nth-child(6)>.t:after{animation-delay: 1.4s;}
.diamond.o>.wr>.w:nth-child(7)>.t:after{animation-delay: 1.6s;}
.diamond.o>.wr>.w:nth-child(8)>.t:after{animation-delay: 1.8s;}
.diamond.o>.wr>.w:nth-child(9)>.t:after{animation-delay: 2s;}
.diamond.o>.wr>.w:nth-child(10)>.t:after{animation-delay: 2.2s;}
.diamond.o>.wr>.w:nth-child(11)>.t:after{animation-delay: 2.4s;}
.diamond.o>.wr>.w:nth-child(12)>.t:after{animation-delay: 2.6s;}
.diamond.o>.wr>.w:nth-child(13)>.t:after{animation-delay: 2.8s;}
.diamond.o>.wr>.w:nth-child(14)>.t:after{animation-delay: 3s;}